h3{
  font-family: Calibri; 
  font-size: 25pt;         
  font-style: normal; 
  font-weight: bold; 
  color:rgb(0, 0, 0);
  text-align: center; 
  text-decoration: underline
}

table{
  font-family: Calibri; 
  color:white; 
  font-size: 11pt; 
  font-style: normal;
  font-weight: bold;
  text-align:justify; 
  background-color: rgb(0, 127, 211); 
  border-collapse: collapse; 
  border: 2px solid navy
}
table.inner{
  border: 0px
}
body,h1 {font-family: "Raleway", sans-serif; font-size: 14;}
body, html {height: 100%}
.bgimg {
  background-image: url('https://source.unsplash.com/1600x800/?computer');
  height: 100%;
  background-position: center;
  background-size: cover;
  opacity: 0.9;
}
.jumbo {
  font-size: 6vw;
}
.pumbo {
  font-size: 1.5vw;
}